<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fileboard - {{ path }}</title>
    <style>{{ style }}</style>
</head>
<body>
    <h1>Directory listing for {{ path }}</h1>
    <strong>
    <span class="name">Name</span>
    <span class="modified">Modified</span>
    <span class="size">Size</span>
    <span class="action">
        <button id="uploadBtn">Upload</button>
        <button id="mkdirBtn">New Folder</button>
    </span>
    </strong>
    <hr>
    <ul>
        {% for item in items %}
            <li>
                <span class="name" title="{{ item. name}}">
                    <a href="{{ item.link }}">{{ item.name }}</a>
                </span>
                <span class="modified">{{ item.date }}</span>
                <span class="size">{{ item.size }}</span>
                <span class="action">
                    <a id="trashlnk" href="#">Trash</a>
                    <a id="movelnk" href="#">Move</a>
                </span>
            </li>
        {% endfor %}
    </ul>
    <hr>
</body>
<script>
    {{ script }}
</script>
</html>